@import "open-iconic/font/css/open-iconic-bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Muli&display=swap";
@import "bootstrap/bootstrap.min.css";

body {
    margin: 0px;
}

.stats-col.dark,
.about-icons .dark {
    display: none;
}

.stats-col {
    display: block;
    width: 100%;
}

.about-icons .light {
    display: flex;
}

/*dark-theme start*/
body.dark-theme .stats-col.dark {
    display: block;
}

body.dark-theme .about-icons .dark {
    display: flex;
}

body.dark-theme .stats-col,
body.dark-theme .about-icons .light {
    display: none;
}

body.dark-theme .sidebar dark {
    background-image: linear-gradient(#c06c84, #6c5b7b, #355c7d);
    transition: ease 0.3s;
}

body.dark-theme .navbar-dark .navbar-brand {
    color: #959595;
    transition: ease 0.3s;
}

body.dark-theme .sidebar .nav-item a {
    color: #c3c3c3;
    transition: ease 0.3s;
}

body.dark-theme .modal-header {
    border-bottom: 1px solid #646464;
}

body.dark-theme,
body.dark-theme body {
    color: #c3c3c3;
    background-color: #1e1e1e;
    transition: ease 0.3s;
}

body.dark-theme .card {
    background-color: #121212;
}

body.dark-theme .modal-content {
    background-color: #1e1e1e;
    border: 1px solid #000;
}

body.dark-theme h2 {
    color: #c3c3c3;
}

body.dark-theme a,
body.dark-theme .btn-link {
    color: #5297ff;
    transition: ease 0.3s;
}

body.dark-theme .sidebar {
    background-image: linear-gradient(#c06c84, #6c5b7b, #355c7d);
    transition: ease 0.3s;
}

body.dark-theme .btn-block {
    display: block;
    width: 100%;
    color: #c3c3c3;
    background: #454545;
    border: 1px solid #000;
    -webkit-appearance: none;
    appearance: none;
}

body.dark-theme .btn-block:hover {
    display: block;
    width: 100%;
    color: #939393;
    background: #313131;
    border: 1px solid #000;
    -webkit-appearance: none;
    appearance: none;
}

body.dark-theme .btn-block:focus {
    border: 1px solid #000;
    -webkit-appearance: none;
    appearance: none;
}

body.dark-theme button:focus {
    outline: none;
}

body.dark-theme hr {
    border-top: 1px solid rgb(255 255 255 / 10%);
}

/*dark-theme end*/

/* scrollbar dark theme */
[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: ease 0.3s;
}

.sidebar {
    overflow: auto;
}

/* shift items left to align with cards */
.about-p {
    margin-left: -1rem;
}

/* shift items right to align with cards */
.modal-header,
.home-p {
    margin-left: 1rem;
}

.btn-block {
    display: block;
    width: 100%;
    color: #121212;
    background: #d5d5d5;
    border: 1px solid #d5d5d5;
    -webkit-appearance: none;
    appearance: none;
}

.btn-block:hover {
    display: block;
    width: 100%;
    color: #000;
    background: #bebebe;
    border: 1px solid #bebebe;
    -webkit-appearance: none;
    appearance: none;
}

.btn-block:focus {
    border: 1px solid #bebebe;
    -webkit-appearance: none;
    appearance: none;
}

button:focus {
    outline: none;
}

h2 {
    color: grey;
    transition: ease 0.3s;
}

.modal-content h2 {
    color: #000;
}

a,
.btn-link {
    color: #0062d1;
    transition: ease 0.3s;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    transition: ease 0.3s;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    transition: ease 0.3s;
}

.main .top-row > a,
.main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.og-sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    transition: ease 0.3s;
    transition: ease 0.3s;
}

.sidebar {
    background-image: linear-gradient(#355c7d, #6c5b7b, #c06c84);
    transition: ease 0.3s;
    transition: ease 0.3s;
}

.sidebar .top-row {
    background-color: rgba(0, 0, 0, 0.4);
    transition: ease 0.3s;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    transition: ease 0.3s;
    transition: ease 0.3s;
}

.sidebar .nav-item a.active,
.sidebar .nav-item a[aria-current="page"] {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    transition: ease 0.3s;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: ease 0.3s;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease 0.3s;
}

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
    transition: ease 0.3s;
}

.invalid {
    outline: 1px solid red;
    transition: ease 0.3s;
}

.validation-message {
    color: red;
    transition: ease 0.3s;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: ease 0.3s;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.about-row {
    flex-direction: row;
}

.about-column {
    float: left;
    width: 66.66%;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    order: 1;
}

.about-column2 {
    float: left;
    width: 33.33%;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    order: 2;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a,
    .main .top-row .btn-link {
        margin-left: 0;
    }

    .about-column,
    .about-column2 {
        width: 100%;
    }

    .about-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .column {
        width: 100%;
    }

    /* Center header on mobile */
    h1,
    h2 {
        margin: auto;
        text-align: center;
    }

    .content {
        padding-right: 3rem !important;
    }

    p,
    h4 {
        text-align: left;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 3rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .modal-header h1,
    h2 {
        margin-left: -1rem;
    }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    max-height: 100%;
    transition: ease 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
}

.card-left-about {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card-left-about:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Add some padding inside the card container */
.container {
    padding: 16px 16px;
    width: 100%;
    height: 100%;
}

.img-container {
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
}

.pcol {
    padding-left: 0;
    padding-right: 0;
    width: 33%;
    text-align: center;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0;
    margin-left: 2rem;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.stats-col {
    width: 100%;
}

.stats-container {
    flex-direction: row;
    display: flex;
}

@media screen and (max-width: 767px) {
    .content {
        padding-right: 3rem !important;
    }

    .column {
        width: 100%;
        text-align: center;
    }

    dd {
        margin-left: 0;
    }

    .pcol {
        text-align: left;
    }
}

@media screen and (max-width: 1152px) {
    .pcol {
        width: 50%;
    }

    .stats-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 844px) {
    .pcol {
        width: 100%;
    }
}

.card .container {
    max-height: 0;
    padding: 0px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.card:hover .container {
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.container h4 {
    padding: 16px 16px 0px 16px;
}

.container p {
    padding: 0px 16px;
}

/* Clear floats after the columns */
.about-row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    transition: ease 0.3s;
}

/* Modal Content/Box */
.modal-content {
    z-index: 2;
    background-color: #fefefe;
    margin: 0% auto 0% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1026px;
    /* Fits the video games */
    transition: ease 0.3s;
}

.modal-content.notion {
    height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fappy_container {
    height: 100%;
}

.fappy_h1 {
    margin: 0 auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .modal_column {
        width: 100%;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0% auto 0% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        /* Could be more or less, depending on screen size */
        transition: ease 0.3s;
    }
}

.header-font {
    font-family: muli, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
}

.p-font {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/* Toggle Button */
.dark-theme-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-top: 9.5px;
    /* -25.5px on iPad*/
}

/* To create surface of toggle button */
.dark-theme-toggle:after {
    content: "";
    width: 33.75px;
    height: 18px;
    display: inline-block;
    background: rgba(196, 195, 195, 0.55);
    border-radius: 15.1875px;
    clear: both;
}

/* Contents before checkbox to create toggle handle */
.dark-theme-toggle:before {
    content: "";
    width: 18.75px;
    height: 20.25px;
    display: block;
    position: absolute;
    left: 0;
    top: 9.5px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}

/* Shift the handle to left on check event */
.dark-theme-toggle:checked:before {
    left: 18px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}

/* Background color when toggle button will be active */
.dark-theme-toggle:checked:after {
    background: #355c7d;
    transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
}

/*iPad Pro 11" 3rd gen*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Toggle Button */
    .dark-theme-toggle {
        margin-top: -25.5px;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Toggle Button */
    .dark-theme-toggle {
        margin-top: -25.5px;
    }
}

/* Animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomLight {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomVideoGames {
    0% {
        transform: translateY(3%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-from-left {
    animation: 750ms ease 0s 1 slideInFromLeft;
}

.slide-in-from-right {
    animation: 750ms ease 0s 1 slideInFromRight;
}

.slide-in-from-bottom {
    animation: 750ms ease 0s 1 slideInFromBottom;
}

.slide-in-from-bottom-light {
    animation: 750ms ease 0s 1 slideInFromBottomLight;
}

.already-visible {
    animation: none;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.pfa.column {
    padding-left: 1rem;
    padding-right: 1rem;
}

.preloader {
    background: #ff90b1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.preloader object {
    width: 128px;
    height: 128px;
}

.about-icons div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 42px;
}

iframe {
    border: none;
}
