@import "open-iconic/font/css/open-iconic-bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Muli&display=swap";
@import "bootstrap/bootstrap.min.css";
@import "modal_animations.scss";

$light-grey: #c3c3c3;
$dark-grey: #2f3437;
$light-pink: #ce9bb1;
$pink: #c06c84;
$purple: #6c5b7b;
$teal: #355c7d;

:root {
    --blue-text: #355c7d;
    --pink-text: #ce9bb1;
}

:root {
    color-scheme: light;
    overflow: overlay;
}

body {
    margin: 0px;
}

.stats-col.dark,
.about-icons .dark {
    display: none;
}

.stats-col {
    display: block;
    width: 100%;
}

.about-icons .light {
    display: flex;
}

/*dark-theme start*/
:root.dark-theme {
    color-scheme: dark;
}

:root.dark-theme .stats-col.dark {
    display: block;
}

:root.dark-theme .about-icons .dark {
    display: flex;
}

:root.dark-theme .stats-col,
:root.dark-theme .about-icons .light {
    display: none;
}

:root.dark-theme .sidebar dark {
    background-image: linear-gradient(#c06c84, #6c5b7b, #355c7d);
    transition: ease 0.3s;
}

:root.dark-theme .navbar-dark .navbar-brand {
    color: #c3c3c3;
    transition: ease 0.3s;
}

:root.dark-theme .sidebar .nav-item a {
    color: #c3c3c3;
    transition: ease 0.3s;
}

:root.dark-theme .modal-header {
    border-bottom: 1px solid #c3c3c3;
}

:root.dark-theme,
:root.dark-theme body {
    color: #c3c3c3;
    background-color: #2f3437;
}

:root.dark-theme .card {
    background-color: #121212;
}

:root.dark-theme .modal-content {
    background-color: #2f3437;
    border: 1px solid #000;
}

:root.dark-theme h2 {
    color: #c3c3c3;
}

:root.dark-theme a,
:root.dark-theme .btn-link {
    color: #5297ff;
    transition: ease 0.3s;
}

:root.dark-theme .sidebar {
    background-image: linear-gradient(#c06c84, #6c5b7b, #355c7d);
    transition: ease 0.3s;
}

:root.dark-theme .btn-block {
    display: block;
    width: 100%;
    color: #c3c3c3;
    background: #454545;
    border: 1px solid #000;
    -webkit-appearance: none;
    appearance: none;
}

:root.dark-theme .btn-block:hover {
    display: block;
    width: 100%;
    color: #939393;
    background: #313131;
    border: 1px solid #000;
    -webkit-appearance: none;
    appearance: none;
}

:root.dark-theme .btn-block:focus {
    border: 1px solid #000;
    -webkit-appearance: none;
    appearance: none;
}

:root.dark-theme button:focus {
    outline: none;
}

:root.dark-theme hr {
    border-top: 1px solid #646464;
}

:root.dark-theme img {
    filter: brightness(0.9);
}

/*dark-theme end*/

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar {
    overflow: auto;
}

.modal-header {
    padding: 1rem 0rem;
    margin: 0rem 1rem;
}

/* shift items left to align with cards */
.about-p {
    margin-left: -1rem;
}

.btn-block {
    display: block;
    width: 100%;
    color: #121212;
    background: #d5d5d5;
    border: 1px solid #d5d5d5;
    -webkit-appearance: none;
    appearance: none;
}

.btn-block:hover {
    display: block;
    width: 100%;
    color: #000;
    background: #bebebe;
    border: 1px solid #bebebe;
    -webkit-appearance: none;
    appearance: none;
}

.btn-block:focus {
    border: 1px solid #bebebe;
    -webkit-appearance: none;
    appearance: none;
}

button:focus {
    outline: none;
}

h2 {
    color: grey;
}

.modal-content h2 {
    color: #000;
}

a,
.btn-link {
    color: #0062d1;
    transition: ease 0.3s;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    transition: ease 0.3s;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
}

.main .top-row > a,
.main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.og-sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    transition: ease 0.3s;
}

.sidebar {
    background-image: linear-gradient(#355c7d, #6c5b7b, #c06c84);
    transition: ease 0.3s;
}

.sidebar .top-row {
    background-color: rgba(0, 0, 0, 0.4);
    transition: ease 0.3s;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    transition: ease 0.3s;
}

.sidebar .nav-item a.active,
.sidebar .nav-item a[aria-current="page"] {
    background-color: rgba(255, 255, 255, 0.25);
    color: white !important;
    transition: ease 0.3s;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    transition: ease 0.3s;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease 0.3s;
}

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
    transition: ease 0.3s;
}

.invalid {
    outline: 1px solid red;
    transition: ease 0.3s;
}

.validation-message {
    color: red;
    transition: ease 0.3s;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: ease 0.3s;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.about-row {
    flex-direction: row;
}

.about-column {
    float: left;
    width: 66.66%;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    order: 1;
}

.about-column2 {
    float: left;
    width: 33.33%;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-top: 2rem;
    order: 2;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a,
    .main .top-row .btn-link {
        margin-left: 0;
    }

    .about-column,
    .about-column2 {
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .about-p {
        margin-left: 0rem;
    }

    .about-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .column {
        width: 100%;
    }

    /* Center header on mobile */
    h1,
    h2 {
        margin: auto;
        text-align: center;
    }

    p,
    h4 {
        text-align: left;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    // .main > div {
    //     padding-left: 2rem !important;
    //     padding-right: 3rem !important;
    // }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    transition: ease 0.3s;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Add some padding inside the card container */
.container {
    padding: 16px 16px;
    width: 100%;
    height: 100%;
}

.img-container {
    position: relative;
}

.column {
    float: left;
    width: 33.33%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
}

.pcol {
    padding-left: 0;
    padding-right: 0;
    margin-left: -1rem;
    width: 33%;
    text-align: left !important;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.stats-col {
    width: 100%;
}

.stats-container {
    flex-direction: row;
    display: flex;
}

@media screen and (max-width: 1152px) {
    .pcol,
    .column {
        width: 50%;
    }

    .stats-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 767px) {
    .content {
        padding-right: 0rem;
    }

    dd {
        margin-left: 0;
    }

    .pcol {
        text-align: left;
    }

    .modal-header {
        margin: 0rem;
    }
}

@media screen and (max-width: 844px) {
    .pcol {
        width: 100%;
    }
}
@media (hover: hover) and (pointer: fine) {
    .card .container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        text-align: center;
        transition: top 0.4s cubic-bezier(0, 0, 0.2, 1);
    }

    .dark-theme .card .container {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .card:hover .container {
        top: 0;
        transition: top 0.4s cubic-bezier(0, 0, 0.2, 1);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container h4 {
    font-size: 100%;
    text-align: center;
}

.container p {
    padding: 0px 16px;
    margin: 0;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    transition: ease 0.3s;
}

/* Modal Content/Box */
.modal-content {
    z-index: 2;
    background-color: #fefefe;
    margin: 0% auto 0% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1026px;
    /* Fits the video games */
    transition: ease 0.3s;
}

.modal-content.notion {
    height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fappy_container {
    height: 100%;
}

.fappy_h1 {
    margin: 0 auto;
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .modal_column {
        width: 100%;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 0% auto 0% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 100%;
        /* Could be more or less, depending on screen size */
        transition: ease 0.3s;
    }

    .column {
        width: 100%;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .column.first {
        padding-top: 2rem;
    }

    .column.last {
        padding-bottom: 2rem;
    }
}

.header-font {
    font-family: muli, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 100px;
}

.p-font {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

/*iPad Pro 11" 3rd gen*/
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Toggle Button */
    .dark-theme-toggle {
        margin-top: -25.5px;
    }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Toggle Button */
    .dark-theme-toggle {
        margin-top: -25.5px;
    }
}

/* Animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(20%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomLight {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottomVideoGames {
    0% {
        transform: translateY(3%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-from-left {
    animation: 750ms ease 0s 1 slideInFromLeft;
}

.slide-in-from-right {
    animation: 750ms ease 0s 1 slideInFromRight;
}

.slide-in-from-bottom {
    animation: 750ms ease 0s 1 slideInFromBottom;
}

.slide-in-from-bottom-light {
    animation: 750ms ease 0s 1 slideInFromBottomLight;
}

.already-visible {
    animation: none;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.pfa.column {
    padding-left: 1rem;
    padding-right: 1rem;
}

.preloader {
    background: #ff90b1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.preloader object {
    width: 128px;
    height: 128px;
}

.about-icons div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 42px;
}

iframe {
    border: none;
}

.social a {
    cursor: pointer;
    font-size: 2rem;
    display: inline-flex;
    padding: 0.25em;
    transition: color 250ms ease-out;
}

.nav-social-icons {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

@media (min-width: 768px) {
    .nav-social-icons {
        display: flex;
    }
}

.social a svg {
    fill: #d7d7d7;
    transition: ease 0.3s;
}

.social a svg:hover {
    transition: ease 0.3s;
}

.about-icons.social a svg {
    fill: $dark-grey;
}

.dark-theme .social a svg {
    fill: $light-grey;
}

.github:hover {
    fill: $teal !important;
}

.dark-theme .github:hover {
    fill: $pink !important;
}

.linkedin:hover {
    fill: $teal !important;
}

.dark-theme .linkedin:hover {
    fill: $pink !important;
}

.mail:hover {
    fill: $teal !important;
}

.dark-theme .mail:hover {
    fill: $pink !important;
}

// If the user prefers reduced motion, turn off all animations
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}
