---
import Base from "../layouts/base.astro";
---

<Base title="Stats">
    <div class="modal-header">
        <h1>Stats</h1>
    </div>
    <div
        class="about-row stats-container"
        style="display:flex;margin:0.5rem 0.5rem"
    >
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/8c52021a-f0b2-49da-ac7e-3220d6908ef6.svg"
                />
            </figure>
        </div>
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/95433541-ee25-43d0-8f60-9be1b2b5352a.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/420446ad-236f-42e1-bca6-8bc7ca0d78e3.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/cf5c2bff-c02c-4597-8566-3c460141ad29.svg"
                />
            </figure>
        </div>
    </div>
    <div
        class="about-row stats-container"
        style="display:flex;margin:0.5rem 0.5rem"
    >
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/dc306fe1-e0d7-44a4-bdfc-8e38290fb82c.svg"
                />
            </figure>
        </div>
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/edfd5753-6b74-441b-81ca-a667f798fe70.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/7f990f44-b735-4ac3-ae2a-9f1ed900ec84.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/ac2339d3-372d-45e0-ba23-61af67fffeae.svg"
                />
            </figure>
        </div>
    </div>
</Base>
