---
import Base from "../layouts/base.astro";
---

<Base>
    <div class="modal-header slide-in-from-bottom">
        <h1>Stats</h1>
    </div>
    <div class="about-row slide-in-from-bottom-light">
        <div class="about-column" style="width:100%">
            <p class="about-p">Since February 2023:</p>
        </div>
    </div>
    <div
        class="about-row slide-in-from-bottom-light stats-container"
        style="display:flex;"
    >
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@@kalen/7b9bfe7d-8a7a-4f6d-8c79-619ffc0e2b80.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@@kalen/81612832-4e00-4bad-bcfe-69ca86a59d6e.svg"
                />
            </figure>
        </div>
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@@kalen/ef7cf23f-e043-4a9f-a601-a845c2cfedec.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@@kalen/ab673139-1bc2-4758-a7ae-89d96a8ac919.svg"
                />
            </figure>
        </div>
    </div>
</Base>
