---
import Base from "../layouts/base.astro";
---

<Base title="Stats">
    <div class="modal-header">
        <h1>Stats</h1>
    </div>
    <div
        class="about-row stats-container"
        style="display:flex;margin:0.5rem 0.5rem"
    >
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/dc306fe1-e0d7-44a4-bdfc-8e38290fb82c.svg"
                />
            </figure>
        </div>
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/edfd5753-6b74-441b-81ca-a667f798fe70.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/7f990f44-b735-4ac3-ae2a-9f1ed900ec84.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/ac2339d3-372d-45e0-ba23-61af67fffeae.svg"
                />
            </figure>
        </div>
    </div>
    <div
        class="about-row stats-container"
        style="display:flex;margin:0.5rem 0.5rem"
    >
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/5396c5fc-9bb5-423a-b8e8-c84600fa6933.svg"
                />
            </figure>
        </div>
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/1a16ff62-2b85-4513-ab42-862caa9698ba.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/442dc196-94c0-4c3d-9dad-c38c40cd565a.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/42c1af94-1ad7-4176-9f52-26ec6612214a.svg"
                />
            </figure>
        </div>
    </div>
</Base>
