---
import Base from "../layouts/base.astro";
---

<Base title="Stats">
    <div class="modal-header">
        <h1>Stats</h1>
    </div>
    <div class="about-row stats-container" style="display:flex;margin-top:1rem">
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/2c615bb4-a4eb-4042-8d5c-5803449d3d9c.svg"
                />
            </figure>
        </div>
        <div class="stats-col">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/f573ea7a-caf3-4182-986e-a1cd40f9c9ef.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/88db1cce-02ad-4bbd-b4ba-a32508e635f2.svg"
                />
            </figure>
        </div>
        <div class="stats-col dark">
            <figure>
                <embed
                    src="https://wakatime.com/share/@kalen/39a402d8-159d-447f-a1ad-0bbdc13f0e19.svg"
                />
            </figure>
        </div>
    </div>
</Base>
