---
import ThemeToggle from "./ThemeToggle.astro";
---

<style>
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
    }
    .pl-4,
    .px-4 {
        padding-left: 1.5rem !important;
    }
    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
</style>
<div class="sidebar" id="sidebar" slot="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="/">Kalen Wallin</a>
        <button class="navbar-toggler" id="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="nav-menu collapse" id="nav-menu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <a class="nav-link" href="/">
                    <span class="oi oi-person" aria-hidden="true"></span> About
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Websites/">
                    <span class="oi oi-browser" aria-hidden="true"></span> Websites
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Video Games/">
                    <span class="oi oi-monitor" aria-hidden="true"></span> Video
                    Games
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Mobile Apps/">
                    <span class="oi oi-phone" aria-hidden="true"></span> Mobile Apps
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Work/">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> Work
                    Experience
                </a>
            </li>
            <!-- <li class="nav-item px-3">
                <a class="nav-link" href="/Documents">
                    <span class="oi oi-document" aria-hidden="true"></span> Resume
                    & Transcripts
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="/Community Service">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Community
                    Service
                </a>
            </li> -->
            <li class="nav-item px-3">
                <a class="nav-link" href="/stats/">
                    <span class="oi oi-bar-chart" aria-hidden="true"></span> Stats
                </a>
            </li>
            <li class="nav-item px-3">
                <div class="nav-link">
                    <span class="oi oi-moon" aria-hidden="true"></span>
                    <ThemeToggle />
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    let collapseNavMenu = true;
    const navMenuToggler = document.getElementById("navbar-toggler");
    const navMenu = document.getElementById("nav-menu");

    if (navMenuToggler && navMenu) {
        navMenuToggler.addEventListener("click", ToggleNavMenu);
        navMenu.addEventListener("click", ToggleNavMenu);
    }

    function ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
        const updatedNavMenuCssClass = collapseNavMenu ? "collapse" : null;

        if (navMenu) {
            if (updatedNavMenuCssClass) {
                navMenu.classList.add("collapse");
            } else {
                navMenu.classList.remove("collapse");
            }
        }
    }

    document.querySelectorAll(".nav-link").forEach((link) => {
        if (
            link instanceof HTMLAnchorElement &&
            link.href.toLowerCase() === window.location.href.toLowerCase()
        ) {
            link.setAttribute("aria-current", "page");
            console.log("Nav Link: " + link.href.toLowerCase());
            console.log("Window Link: " + window.location.href.toLowerCase());
        } else if (link instanceof HTMLAnchorElement) {
            console.log("Nav Link: " + link.href.toLowerCase());
            console.log("Window Link: " + window.location.href.toLowerCase());
        }
    });
</script>
