---
import Card from "../components/Card.astro";
const { data } = Astro.props;
---

<div class="row slide-in-from-bottom-light">
    {
        data.map(
            (data: {
                imgUrl: string;
                alt: string;
                title: string;
                description: string;
            }) => (
                <div class="column to-slide-bottom-light animate">
                    <Card data={data} />
                </div>
            )
        )
    }
</div>
