---
import Card from "../components/Card.astro";
interface Props {
    row?: any;
}
const { row } = Astro.props;
---

<div class="row">
    {
        row.map((post) => (
            <div class="column animate">
                <Card article={post} />
            </div>
        ))
    }
</div>
