---
import "../styles/app.scss";
import NavMenu from "../components/NavMenu.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Astro.v1 | Kalen Wallin</title>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="Showcasing his skills through jobs, projects, school transcripts, community service, and life experiences."
        />

        <!-- favicon -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
        <meta name="msapplication-TileColor" content="#00aba9" />
        <meta name="theme-color" content="#ffffff" />

        <base href="/" />
        <link rel="stylesheet" href="https://use.typekit.net/xqe2iho.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />
        <script
            src="https://kit.fontawesome.com/a9d4b96a7c.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <app>
            <NavMenu />
            <div class="main">
                <div class="content px-4">
                    <slot />
                    <!-- your content is injected here -->
                </div>
            </div>
        </app>
    </body>
</html>
